<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{'is-on': pot.isOpen, 'is-off': !pot.isOpen}">
    <ion-card-header>{{pot.name}}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of pot.description">{{line}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card [ngClass]="{'is-on': pot.isOpen, 'is-off': !pot.isOpen}">
    <ion-card-header>Montant du pot</ion-card-header>
    <ion-card-content>
      <p> {{pot.value}}€</p>
    </ion-card-content>
  </ion-card>
  <ion-card [ngClass]="{'is-on': pot.isOpen, 'is-off': !pot.isOpen}">
    <ion-card-header>Membres</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of pot.membres">{{line}}</p>
    </ion-card-content>
  </ion-card>
  <button ion-button full (click)="onNewMembre()">Ajouter un pote</button>

  <ion-card [ngClass]="{'is-on': pot.isOpen, 'is-off': !pot.isOpen}">
    <ion-card-header>Activités</ion-card-header>
    <ion-card-content>
      <p *ngFor="let activity of pot.inActivities">
        Membre : <b>{{activity.creator}}</b> <br>
        <span ngClass="activity">{{activity.name}} </span>
        <span ngClass="value">{{activity.value}}€ </span></p>
    </ion-card-content>
  </ion-card>
  <button ion-button full (click)="onNewActivity()">Ajouter une activité</button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                full
                color="danger"
                [disabled]="!pot.isOpen"
                (click)="onTogglePot()">Fermer
        </button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                color="secondary"
                [disabled]="pot.isOpen"
                (click)="onTogglePot()">Ouvrir
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
